/*___________________________________________________________________________GENERAL__________________________________________________________________________*/
@font-face {
  font-family: '1989';
  src: url('../fonts/TaylorSwiftHandwriting.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: url('../resources/1989_background.JPG'); 
    background-size: cover;
    background-position: center;   
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
}

.title{
    background-size: 60%;
    backdrop-filter: blur(0.2em);
    background-color: rgba(117, 149, 160, 0.349);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: #5584AC;
    text-align: center;
    font-weight: bold;
    border: transparent;
    border-radius: 3.125em;
    font-size: 5.5vw;
    font-family: '1989';
    transition: all ease 0.3s;
}


/*___________________________________________________________________________SUGGESTIONS__________________________________________________________________________*/
.suggestion-box {
    backdrop-filter: blur(0.2em);
    background-color: rgba(117, 149, 160, 0.349);
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 20vh;
    overflow-y: auto;
    display: none;
}

.suggestion-box::-webkit-scrollbar-track {
    background: #5584AC; /* Track color */
    border-radius: 0.625em;
}

.suggestion-box::-webkit-scrollbar-thumb {
    background: #263a4d; /* Thumb color */
    border-radius: 0.625em;
}

.suggestion-box::-webkit-scrollbar-thumb:hover {
    background: #3d607e; /* Thumb hover color */
}

.suggestion-box::-webkit-scrollbar {
    width: 0.5em; /* Scrollbar width */
}

.suggestion-item{
    color: #000000;
}

.suggestion-item:hover{
    color: #000000;
    background-color: #5584AC;
    box-shadow: inset 0 0 0.5em rgb(34, 33, 33); 
}

.suggestion-item.selected {
  color: #000000;
  background-color: #5584AC;
  box-shadow: inset 0 0 0.5em rgb(34, 33, 33); 
}
/*___________________________________________________________________________ATTEMPTS__________________________________________________________________________*/

.game-container {
  text-align: center;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.guess-input, .btn-primary {
  margin:  1.25em;
  width: 100%;
  background-color: #5584AC;
  border-radius: 1.25em;
}

#guess-input {
  flex-grow: 1;
}

#submit-guess {
  background-color: #5584AC;
  color: #ffffff;
  border: 1px solid #5584AC;
  border-radius: 1.25em;
  font-family: '1989'; 
  padding: 0.625em 1.25em;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#submit-guess:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #5584AC;
}

.past-guesses {
  list-style-type: none;
  padding: 0;
}

.past-guesses li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3125em;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: #5584AC;
}

.guessesMatrix{
max-height: 40vh;
overflow-y: auto;
}

.guessesMatrix::-webkit-scrollbar-track {
background: #5584AC; /* Track color */
border-radius: 0.625em;
}

.guessesMatrix::-webkit-scrollbar-thumb {
background: #263a4d; /* Thumb color */
border-radius: 0.625em;
}

.guessesMatrix::-webkit-scrollbar-thumb:hover {
background: #3d607e; /* Thumb hover color */
}

.guessesMatrix::-webkit-scrollbar {
width: 0.5em; /* Scrollbar width */
}

.input-area {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.625em;
    justify-content: center;
    width: 25em;
    margin: auto;
    margin-top: 2.5em;
}


.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.9375em;
    margin: 0 0.25em;
    margin-right: -0.1875em;
    margin-left: -0.1875em;
    border: 1px solid antiquewhite;
    border-radius: 0.625em;
    text-align: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    box-shadow: 0 0 0.3125 rgba(255, 255, 255, 0.7);
}

.cell.image {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.125em;
    margin: 0 0.25em;
    margin-right: -0.1875em;
    margin-left: -0.1875em;
    border: 0.0625 solid antiquewhite;
    text-align: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    box-shadow: 0 0 0.312em rgba(255, 255, 255, 0.7);
}

.cell.black { 
  background-color: rgb(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
 } 
.cell.green { 
  background-color: rgba(89, 196, 63, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(89, 196, 63);
} 
.cell.yellow { 
  background-color: rgba(243, 191, 79, 0.9); 
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(243, 191, 79);
} 

.album-image {
  width: 93%;
  height: 93%;
  display: block;
}

.arrow-text {
font-size: 30px;
}

.matrix-row {
    display: grid;
    grid-template-columns: 300px 90px 120px 150px 350px;
    gap: 10px;
    align-items: center; 
    margin-bottom: 3px;
    margin-left: 150px;
  }

.header-matrixlabel{
    backdrop-filter: blur(10px);
    background-color: rgba(117, 149, 160, 0.349);
    color: #5584AC;
    text-align: center;
    font-size: 24px;
    font-family: '1989';
    border: transparent;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    transition: all ease 0.3s;
}

@font-face {
    font-family: 'BodoniModa';
    src: url('public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/*___________________________________________________________________________MODAL__________________________________________________________________________*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff79;
    backdrop-filter: blur(20px);
    padding: 20px;
    border: 1px solid #5584AC;
    border-radius: 30px;
    width: 50%;
    animation-name: slideIn;
    animation-duration: 0.5s;
    font-family: '1989';
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; /* Ensures modal content is above the modal-background */
  }

  .modal-content.win {
    box-shadow: 0 0 40px #3f9b4a;
  }

  .modal-content.lose {
    box-shadow: 0 0 40px #702424;
  }

  .modal-content.rules {
    box-shadow: 0 0 40px #5584AC;
  }

  .modal-image {
    max-width: 250%;
    height: auto;
    display: block;
    margin: auto;
}

  /* The Close Button */
  .close-button {
    color: #5584AC;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .share-button{
    margin-top: 3%;
    max-width: 70%;
    background-color: rgba(117, 149, 160, 0.349);
    color: #5584AC;
    padding: 10px 20px;
    font-size: 24px;
    font-family: '1989';
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    transition: all ease 0.3s;
  }

  .share-button:hover{
    background-color: #5584AC;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Animation */
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1;}
  }

  .copy-notification {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    z-index: 10;
    animation-fill-mode: forwards; /* Keeps the state of the last animation frame after the animation finishes */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      display: block; /* Make it visible */
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none; /* Hide it again */
    }
  }

  /*___________________________________________________________________________BUTTONS__________________________________________________________________________*/
  .rules-button{
    backdrop-filter: blur(10px);
    background-color: rgba(117, 149, 160, 0.349);
    color: #5584AC;
    padding: 10px 20px;
    font-size: 24px;
    font-family: '1989';
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    margin-right: 350px; 
    margin-left: 0px;
    transition: all ease 0.3s;
  }

  .rules-button:hover{
    background-color: #5584AC;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }

  .rules-list{
    color: #000000;
    font-family: 'sans-serif';
    list-style-type: none;
    list-style-type: disc;
    padding-left: 40px;
  }

  .rules-list li {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  .rule-purpose-message{
    color: #3c5c79;
    font-family: '1989';
    font-size: 20px;
    margin-bottom: 40px;
  }

  .green-text {
    background-color: #1d7a33;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    box-decoration-break: clone;
  }
  
  .yellow-text {
    background-color: #c59504;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    box-decoration-break: clone;
  }

  .support-button{
    backdrop-filter: blur(10px);
    background-color: rgba(117, 149, 160, 0.349);
    color: #5584AC;
    border: 1px solid #31302e; 
    padding: 10px 20px;
    font-size: 24px;
    font-family: '1989';
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
    margin-left: 400px;
    transition: all ease 0.3s;
  }

  .support-button:hover{
    background-color: #5584AC;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }

  .theme-button{
    backdrop-filter: blur(10px);
    background-color: rgba(117, 149, 160, 0.349);
    color: #5584AC;
    border: 1px solid #31302e; 
    padding: 10px 20px;
    font-size: 24px;
    font-family: '1989';
    display : inline-block;
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
    margin-left: 0px;
    transition: all ease 0.3s;
  }

  .theme-button:hover {
    background-color: #5584AC;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 768px) {

    body {
      background-image: url('../resources/1989_background_Mobile.JPG'); 
      background-size: cover;
      background-position: center;
  }

    .title{
      background-size: 55%;
      width: 70%;
      font-size: 20vw;
    }
    .input-area {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.625em;
      width: 100%;
      margin-top: 2em;
  }

  #guess-input {
    flex: 1 0 auto;
    min-width: 150px;;
  }
  
  #submit-guess {
    white-space: nowrap;
    border-radius: 1.25em;
    padding: 0.625em 1.25em;
    font-size: 1.2em;
  }


  .cell {
      padding: 0.9375em;
      margin: 0em;
      margin-right: 0em;
      margin-left: 0em;
      text-align: center;
      flex-wrap: wrap;
      word-wrap: break-word;
      white-space: normal;
  }

  .cell.image {
      padding: 0.em;
      margin: 0em;
      margin-right: 0em;
      margin-left: 0em;
      border: 0.0625 solid antiquewhite;
      text-align: center;
      white-space: nowrap; 
  }

  .album-image {
    width: 40%;
    height: 40%;
    display: block;
  }

  .matrix-row {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      border-bottom: 5px solid #263a4d;
      padding-bottom: 10px;
    }

  .header-matrixlabel{
      font-size: 24px;
      border-radius: 10px;
      border-bottom: 1px solid #ccc;
  }

  .guessesMatrix{
    max-height: 28.5vh;
    }
  /* _____________________________________________________Rules______________________________________*/

  .rules-list li {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
  }

  .rule-purpose-message{
    font-size: 10px;
    margin-bottom: 10px;
  }
  /* _____________________________________________________BUTTONS______________________________________*/
  .rules-button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 0px; 
    margin-left: 0px;
    top: 20px;
  }

  .support-button{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .theme-button{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    top: 20px;
  }
  /* _____________________________________________________suggestionBOX______________________________________*/
  .suggestion-box {
    width: 100%;
    max-height: 20vh;
}
/*____________________________________________________MODAL__________________________________________________ */

/* Modal Content */
.modal-content {
  width: 71%;
}

.modal-image {
  max-width: 70%;
}

/* The Close Button */
.close-button {
  font-size: 34px;
}


.share-button{
  margin-top: 3%;
  max-width: 70%;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  position: relative;
}
}