/*___________________________________________________________________________GENERAL__________________________________________________________________________*/
@font-face {
    font-family: 'OldeEnglish';
    src: url('../fonts/OldeEnglish.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlackClover';
    src: url('../fonts/BlackCloverFont.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karenz';
    src: url('../fonts/Karenz.ttf') format('trueType');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Alanta';
    src: url('../fonts/Alanta\ Rosery.otf') format('openType');
    font-weight: normal;
    font-style: normal;
}

.fake-bold-Karenz {
    font-family: 'Karenz', sans-serif;
    font-weight: 900;
}


body {
    background-image: url('../resources/taylorCartoon4.JPG'); 
    background-size: cover;
    background-position: center;   
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 0 0 500px rgba(185, 182, 179, 0.616); 
    z-index: 1;
}

.title{
    background-color: transparent;
    color: #0f0f0f;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 4vw;
    margin-bottom: 3vw;
    font-family: 'Karenz';
    transition: all ease 0.3s;
}



h1 {
    color: whitesmoke
}


/*___________________________________________________________________________SUGGESTIONS__________________________________________________________________________*/
.suggestion-box {
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.suggestion-box::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.suggestion-box::-webkit-scrollbar-thumb {
    background: #000000; /* Thumb color */
    border-radius: 10px;
}

.suggestion-box::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb hover color */
}

.suggestion-box::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.suggestion-item{
    color: #fcfcfc;
}

.suggestion-item:hover{
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 10px rgb(41, 40, 40); 
}

.suggestion-item.selected {
  color: #000000;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgb(41, 40, 40); 
}
/*___________________________________________________________________________ATTEMPTS__________________________________________________________________________*/
.guessesMatrix{
  max-height: 40vh;
  overflow-y: auto;
}

.guessesMatrix::-webkit-scrollbar-track {
  background: #ffffff; /* Track color */
  border-radius: 10px;
}

.guessesMatrix::-webkit-scrollbar-thumb {
  background: #000000; /* Thumb color */
  border-radius: 10px;
}

.guessesMatrix::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}

.guessesMatrix::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.game-container {
  text-align: center;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.guess-input, .btn-primary {
  margin: 20px 0;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  border-bottom: 1px solid #000000;
}

#guess-input {
  flex-grow: 1;
}

#submit-guess {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
  font-family: 'Karenz'; 
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#submit-guess:hover {
  background-color: #272624;
  border-color: #272624;
  color: rgb(255, 255, 255);
}

.past-guesses {
  list-style-type: none;
  padding: 0;
}

.past-guesses li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-area {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 400px;
    margin: auto;
    margin-top: 40px;
}


.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    margin: 0 4px;
    margin-right: -3px;
    margin-left: -3px;
    border: 1px solid antiquewhite;
    text-align: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.cell.image {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
    margin: 0 4px;
    margin-right: -3px;
    margin-left: -3px;
    border: 1px solid antiquewhite;
    text-align: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.cell.black { 
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    
 } 
.cell.green { 
    background-color: rgba(89, 196, 63, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(89, 196, 63);
} 
.cell.yellow { 
    background-color: rgba(243, 191, 79, 0.9); 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(243, 191, 79);
} 

.album-image {
  width: 93%;
  height: 93%;
  display: block;
}

.arrow-text {
font-size: 30px;
}

.matrix-row {
    display: grid;
    grid-template-columns: 300px 90px 100px 150px 350px;
    gap: 10px;
    align-items: center; 
    margin-bottom: 3px;
    margin-left: 150px;
  }

.header-matrixlabel{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-family: 'Karenz';
    border: none;
    border-bottom: 1px solid #000000;
    transition: all ease 0.3s;
}

@font-face {
    font-family: 'BodoniModa';
    src: url('public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}

/*___________________________________________________________________________MODALS__________________________________________________________________________*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, 0.7);
    padding: 20px;
    border: 1px solid #000000;
    width: 50%;
    animation-name: slideIn;
    animation-duration: 0.5s;
    font-family: 'Karenz';
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; /* Ensures modal content is above the modal-background */
  }

  .modal-content.win {
    box-shadow: 0 0 40px #3f9b4a;
  }

  .modal-content.lose {
    box-shadow: 0 0 40px #702424;
  }

  .modal-content.rules {
    box-shadow: 0 0 40px #aaaaaa;
  }

  .modal-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

  /* The Close Button */
  .close-button {
    color: #ffffff;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }

  .share-button{
    margin-top: 3%;
    max-width: 70%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Karenz';
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    border-bottom: 1px solid #ffffff;
    transition: all ease 0.3s;
  }

  .share-button:hover{
    background-color: #525252;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-bottom: 1px solid #000000
  }

  
  /* Add Animation */
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 50%; opacity: 1;}
  }

  .copy-notification {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    z-index: 10;
    animation-fill-mode: forwards; /* Keeps the state of the last animation frame after the animation finishes */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      display: block; /* Make it visible */
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none; /* Hide it again */
    }
  }
  
/*___________________________________________________________________________BUTTONS__________________________________________________________________________*/
  .rules-button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Karenz';
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    margin-right: 350px; 
    margin-left: 0px;
    border-bottom: 1px solid #000000;
    transition: all ease 0.3s;
  }

  .rules-button:hover{
    background-color: #525252;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom: 1px solid #000000
  }

  .rules-list{
    color: #ffffff;
    font-family: 'sans-serif';
    list-style-type: none;
    list-style-type: disc;
    padding-left: 40px;
  }

  .rules-list li {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  .rule-purpose-message{
    color: #acacac;
    font-family: 'Karenz';
    font-size: 20px;
    margin-bottom: 40px;
  }

  .green-text {
    background-color: #1d7a33;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    box-decoration-break: clone;
  }
  
  .yellow-text {
    background-color: #c59504;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    box-decoration-break: clone;
  }

  .support-button{
    background-color: transparent;
    color: white; 
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Karenz';
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
    margin-left: 400px;
    border-bottom: 1px solid #ccc;
    transition: all ease 0.3s;
  }

  .support-button:hover{
    background-color: #525252;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc
  }

  .theme-button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Karenz';
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
    margin-left: 0px;
    border-bottom: 1px solid #000000;
    transition: all ease 0.3s;
  }

  .theme-button:hover{
    background-color: #525252;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #000000
  }

  /*___________________________________________________________________________MOBILE_UI__________________________________________________________________________*/
  @media (max-width: 768px) {

    body {
      background-image: url('../resources/taylorCartoon4_Mobile2.JPG'); 
      background-size: cover;
      background-position: center;
  }

    .title{
      background-size: 55%;
      width: 70%;
      font-size: 20vw;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.3);
    }
    .input-area {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.625em;
      width: 100%;
      margin-top: 2em;
  }

  #guess-input {
    flex: 1 0 auto;
    min-width: 6,3vw;
  }
  
  #submit-guess {
    white-space: nowrap;
    border-radius: 1.25em;
    padding: 0.625em 1.25em;
    font-size: 1.2em;
  }


  .cell {
      padding: 0.9375em;
      margin: 0em;
      margin-right: 0em;
      margin-left: 0em;
      text-align: center;
      flex-wrap: wrap;
      word-wrap: break-word;
      white-space: normal;
  }

  .cell.image {
      padding: 0.em;
      margin: 0em;
      margin-right: 0em;
      margin-left: 0em;
      border: 0.0625 solid antiquewhite;
      text-align: center;
      white-space: nowrap; 
  }

  .album-image {
    width: 40%;
    height: 40%;
    display: block;
  }

  .matrix-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.78vw;
    margin-bottom: 2.78vw;
    margin-left: 2.78vw;
    margin-right: 2.78vw;
    border-radius: 1.39vw;
    border-bottom: 1.39vw solid #000000;
    padding-bottom: 2.78vw;
  }
  
  .header-matrixlabel {
    font-size: 5.56vw;
    border-radius: 2.78vw;
    border-bottom: 0.28vw solid #ccc;
  }

  .guessesMatrix{
    max-height: 28.5vh;
    }
  /* _____________________________________________________Rules______________________________________*/

  .rules-list li {
    font-size: 2.78vw;
    text-align: left;
    margin-bottom: 0.69vh;
  }
  
  .rule-purpose-message {
    font-size: 2.78vw;
    margin-bottom: 1.39vh;
  }
  /* _____________________________________________________BUTTONS______________________________________*/
  .rules-button {
    padding: 1.39vh 5.56vw;
    font-size: 4.17vw;
    border-radius: 2.78vw;
    margin-right: 0;
    margin-left: 0;
    top: 2.78vh;
  }
  
  .support-button {
    padding: 0.69vh 2.78vw;
    font-size: 2.78vw;
    border-radius: 5.56vw;
    margin-left: 0;
    margin-top: 2.78vh;
    color: black;
    border-bottom: 0.28vw solid #000000;
  }
  
  .theme-button {
    padding: 1.39vh 4.17vw;
    font-size: 4.17vw;
    border-radius: 2.78vw;
    top: 2.78vh;
  }
  /* _____________________________________________________suggestionBOX______________________________________*/
  .suggestion-box {
    width: 100%;
    max-height: 20vh;
}
/*____________________________________________________MODAL__________________________________________________ */

/* Modal Content */
.modal-content {
  width: 71%;
}

.modal-image {
  max-width: 70%;
}

/* The Close Button */
.close-button {
  font-size: 9.44vw;
}


.share-button{
  margin-top: 3%;
  max-width: 70%;
  padding: 1.39vh 5.56vw;
  font-size: 5.56vw;
  border-radius: 2.78vw;
  position: relative;
}
}